/* Caousel card animation */
.bgBlur {
  bottom: -628px;
  left: 0;
  border-bottom: 1.5rem;
  background: rgba(0, 0, 0, 0.351);
  filter: blur(8px);
}

.btnInterview {
  position: absolute;
  bottom: -71px;
  left: 120px;
}

#divBtn:hover > .bgBlur {
  transform: translateY(-150px);
  transition-property: all;
  transition-duration: 200ms;
}
#divBtn:hover > .btnInterview {
  transform: translateY(-136px);
  transition-property: all;
  transition-duration: 200ms;
}

#divBtn:hover > .imgText {
  transform: translateY(-136px);
  transition-property: all;
  transition-duration: 200ms;
}

/* Cousel Arrow Css */
.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.slick-prev:before {
  content: url(../../../../assets/homepage_img/prev_arrow.png);
  width: 100px;
  height: 100px;
  position: absolute;
  left: -189px;
}
.slick-next:before {
  content: url(../../../../assets/homepage_img/next_arrow.png);
  width: 100px;
  height: 100px;
  position: absolute;
  right: -181px;
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .slick-prev:before {
    left: -142px;
  }
  .slick-next:before {
    left: 29px;
  }
  .btnInterview {
    bottom: -74px;
    left: 65px;
  }
  #divBtn:hover > .bgBlur {
    transform: translateY(-265px);
    transition-property: all;
    transition-duration: 200ms;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .slick-prev:before {
    left: -150px;
  }
  .slick-next:before {
    left: 4px;
  }
  .btnInterview {
    bottom: -74px;
    left: 65px;
  }
  #divBtn:hover > .bgBlur {
    transform: translateY(-265px);
    transition-property: all;
    transition-duration: 200ms;
  }
}
