.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Attach File";
  color: #a5a5a5;
  background: transparent;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 28px;
}
.custom-file-input:hover::before {
  border-color: black;
}

.shadowContact {
  -webkit-box-shadow: 1px 50px 14px 0px rgba(198, 198, 198, 0.8);
  box-shadow: 1px 50px 14px 0px rgba(198, 198, 198, 0.8);
}
