.ant-collapse-content {
  border-top: none;
}
.ant-collapse {
  border: none;
  border-radius: 0;
}
.ant-collapse > .ant-collapse-item {
  border-bottom: none;
}
.ant-collapse-header-text {
  width: 100%;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
}

.ant-collapse-expand-icon {
  position: absolute;
  left: 1275px;
  top: 72px;
}

@media only screen and (min-width: 0) and (max-width: 375px) {
  .ant-collapse-expand-icon {
    left: 274px;
    top: 9px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 414px) {
  .ant-collapse-expand-icon {
    left: 299px;
    top: 9px;
  }
}

@media only screen and (min-width: 415px) and (max-width: 800px) {
  .ant-collapse-expand-icon {
    left: 676px;
    top: 15px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 834px) {
  .ant-collapse-expand-icon {
    left: 701px;
    top: 22px;
  }
}

@media only screen and (min-width: 835px) and (max-width: 1024px) {
  .ant-collapse-expand-icon {
    left: 896px;
    top: 18px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .ant-collapse-expand-icon {
    left: 626px;
    top: 61px;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .ant-collapse-expand-icon {
    left: 792px;
    top: 55px;
  }
}
